* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#banner {
    background: linear-gradient(to right top,#0009 70%, rgba(61, 22, 95, .000804)),url(../images/hotel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75vh;
}
#navBar {
    display: flex;
    justify-content: space-between;
    background: #fff;
    color: #000;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    z-index: 1;
}
#navBar > .brandName{
    padding: 15px 0px 0px 20px;
}
#navBar > .brandName > a {
    text-decoration: none;
    color: #000;
}
#navBar ul {
    list-style: none;
    padding: 15px; 
}
#navBar ul li {
    display: inline;
    padding: 10px;
    margin: 10px;
}
#navBar ul li a {
    text-decoration: none;
    color: #000;
}
#navBar ul li a:hover {
    color: rgba(119, 119, 118, 0.753);
}
#heroSection {
    position: absolute;
    top: 15rem;
    left: 2rem;
    font-size: 32px;
    color: #fff;
}
