* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
}
#container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#banner {
    background: linear-gradient(to right top,#0009 70%, rgba(61, 22, 95, .000804)),url(../images/hotel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75vh;
}
#navBar {
    display: flex;
    justify-content: space-between;
    background: #fff;
    color: #000;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid #ccc;
}
#navBar > .brandName{
    padding: 15px 0px 0px 20px;
}
#navBar > .brandName > a {
    text-decoration: none;
    color: #000;
}
#navBar ul {
    list-style: none;
    padding: 15px; 
}
#navBar ul li {
    display: inline;
    padding: 10px;
    margin: 10px;
}
#navBar ul li a {
    text-decoration: none;
    color: #000;
}
#navBar ul li a:hover {
    color: rgba(119, 119, 118, 0.753);
}
#heroSection {
    position: relative;
    top: 15rem;
    left: 0px;
    right: 0px;
    padding: 10px 0px 0px 15px;
    text-align: left;
    font-size: 32px;
    color: #fff;
}
#featureSection {
    padding: 10em 0em 5em 0em;
}
#featureSection > h1 {
    text-align: center;
    padding: 10px 0px 35px 0px;
}
#roomHolder {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0px auto;
    padding-bottom: 25px;
}
.roomWrapper {
    width: 30%;
    border: 1px solid #ccc;
}
.roomWrapper > .holderImages > img{
    width: 100%;
    height: 300px;
}
.roomWrapper > h2 {
    margin: 10px;
    padding: 5px
}
.roomWrapper > .roomContent {
    padding: 5px;
    margin: 10px;
}
.roomWrapper > .roomAmount {
    color: rgb(143, 142, 142);
}
.roomWrapper > button {
    margin: 10px;
    padding: 5px;
    width: 92%;
    font-size: 18px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
}
.roomWrapper > button:hover {
    background: rgb(49, 48, 48);
}
/* dining section */
#diningHolder {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0px auto;
    padding-bottom: 25px;
}
.diningWrapper {
    width: 30%;
    border: 1px solid #ccc;
}
.diningWrapper > .diningHolderImages > img{
    width: 100%;
    height: 300px;
}
.diningWrapper > h2 {
    margin: 10px;
    padding: 5px
}
.diningWrapper > .diningContent {
    padding: 5px;
    margin: 10px;
}
.diningWrapper > .diningAmount {
    color: rgb(143, 142, 142);
}
.diningWrapper > button {
    margin: 10px;
    padding: 5px;
    width: 92%;
    font-size: 18px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
}
.diningWrapper > button:hover {
    background: rgb(49, 48, 48);
}


#aboutSection {
    padding: 5em 0em 5em 0em;
}
#aboutSection > h1 {
    text-align: center;
    padding: 10px 0px 35px 0px;
}
#aboutWrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
}
#aboutWrapper > .aboutContent {
    width: 80%;  
    margin: 10px;
    padding: 10px;
    line-height: 2.0em;
}
#aboutWrapper > .aboutImage > img {
    width: 90%;
    height: 450px;
    margin: 10px;
}
#contact {
    width: 50%;
    margin: 0px auto;
    padding: 5em 0em 5em 0em;
}
#contact > h1 {
    text-align: center;
}
#contact > p {
    text-align: center;
    color: gray;
}
#contact > #form > input {
    width: 95%;
    padding: 15px;
    margin: 15px;
}
#contact > #form > textarea {
    width: 95%;
    padding: 15px;
    margin: 15px;
    resize: none;
}
#contact > #form > button {
    width: 96%;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
}
#contact > #form > button:hover {
    background: rgb(49, 48, 48);    
}
.errMsgs {
    color: lightcoral;
    padding-left: 15px;
}
#footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
}